---
# yaml-language-server: $schema=https://raw.githubusercontent.com/kashalls/kromgo/main/config.schema.json
debug: false
metrics:
  - name: node_cpu_usage
    query: "round(cluster:node_cpu:ratio_rate5m * 100, 0.1)"
    prefix: ""      # Optional
    suffix: "%"     # Optional
    colors:         # Optional
      - color: "green"
        min: 0
        max: 35
      - color: "orange"
        min: 36
        max: 75
      - color: "red"
        min: 76
        max: 1000
  - name: kubernetes_build_version
    query: kubernetes_build_info{service="kubernetes"}
    label: git_version
  - name: ceph_health_status
    query: ceph_health_status{}
    colors:
      - { valueOverride: 'Ok', color: "green", min: 0, max: 0 }
      - { valueOverride: 'Not good', color: "orange", min: 1, max: 1 }
      - { valueOverride: 'Whoops', color: "red", min: 2, max: 2 }