---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "YAML Schema"

on:
  push:
    branches: ["main"]

jobs:
  build-schema:
    name: Build YAML Schema
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.1

      - name: Render schema
        run: |
          go mod tidy
          go run cmd/kromgo/main.go -jsonschema > config.schema.json

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79 # v5.1.0
        with:
          commit_message: "docs: render json schema"
          file_pattern: "config.schema.json"
