---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "YAML Schema"

on:
  push:
    branches: ["main"]

jobs:
  build-schema:
    name: Build YAML Schema
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.5

      - name: Render schema
        run: |
          go mod tidy
          go run cmd/kromgo/main.go -jsonschema > config.schema.json

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "docs: render json schema"
          file_pattern: "config.schema.json"
